<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org" xml:lang="en">
<head>
<title>Book List</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
	integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
	integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
	crossorigin="anonymous">
</head>
<body>

	<div class="container my-2">
		<div class="card">
			<div th:switch="${books}" class="card-body">
				<div class="container">
					<p class="my-3">
						<a href="/book/addbook" class="btn btn-outline-secondary">
							<i class="fas fa-book ml-2">&nbsp;<i th:text ="#{book.add}"/></i>
						</a>
					</p>
					
					<div class="col-md-10">
						<h3 th:case="null" /> <i th:text="#{book.emptylist}"></i></h3>
						<div th:case="null">
							<table class="table table-striped table-responsive-md">
								<thead>
									<tr>
										<th th:text="#{book.title}"></th>
										<th th:text="#{book.subTitle}"></th>
										<th th:text="#{book.author}"></th>
									
										<th  th:text="#{book.edit}" />
										<th  th:text="#{book.delete}" />
									</tr>
								</thead>
								<tbody>
									<tr th:each="book : ${books}">
										<td th:text="${book.title}"></td>
										<td th:text="${book.subTitle}"></td>
										<td th:text="${book.author.firstName}"></td>
										
										<td><a class="btn btn-outline-secondary"><i class="fas fa-edit"></i></a></td>
										<td><a class="btn btn-outline-secondary"><i class="far fa-trash-alt"></i></i></a></td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>



</body>
</html>