<html xmlns:th="http://www.thymeleaf.org" xml:lang="en">
<head>
<title>Login Page</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
	integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
	crossorigin="anonymous"></script>


</head>

<body class="d-flex align-content-center flex-wrap">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-4 border shadow m-4 bg-dark">

				<form th:action="@{/login}" method="post">

					<div class="row">
						<div class="col-md-12 form-group">
							<h5 th:text="#{login.loginMessages}"
								class="p-2 bg-dark text-white" />
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 form-group">
							<label class="d-block" for="username"> <input type="text"
								name="username" autofocus="autofocus" class="form-control"
								th:placeholder="#{login.userName}" />
							</label>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 form-group">
							<label class="d-block" for="password"> <input
								type="password" name="password" class="form-control"
								th:placeholder="#{login.password}" />
							</label>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 form-group">
							<input type="submit" class="btn-lg btn-outline-dark"
								th:value="#{login.logIn}" />
						</div>
					</div>

					<div th:if="${loginError}" class="alert alert-danger" role="alert">
						<span th:text="#{login.failure}" />
					</div>
				</form>
			</div>

			<div class="d-flex p-1 align-items-center justify-content-center">
				<h1 class="font-italic text-center">
					<span th:text="#{login.motto}" />
				</h1>
			</div>
		</div>
	</div>
</body>
</html>
